#contactus{
    float: right;
    margin-right: 12%;
    margin-top: 20px;
}
#logo{
    display: flex;
    justify-content: flex-end;
    float: left;
    margin-top: 5px;

}
#topic1{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}
#subtopic1{
    color:white;
    text-align: center;
    font-size: larger;
}

.pre{
    overflow: hidden;
}

.choose{
    border: 1px dashed #323232;
    background-color: #ebf7ff;
}
.dotted{
    border-radius: 10px;
    background-color: whitesmoke;
}
#topic2{
    color: white;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}  

#round{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5rem;
    
}
#rtext{

    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
    color: #2FD5BB;
}
.icon{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.qwerty{
    margin-top: 40px;
}

#ftext{
    font-size: x-large;
    
}

input[type=text], select, textarea, input[type=email], input[type= number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #2FD5BB;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  input[type=submit] {
    background-color: #2FD5BB;
    color: #2FD5BB;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #2FD5BB;
  }
  #contact{
      display: flex;
      flex-direction: row;
      margin-top: 5rem;
  }

#grad1 {
    background-color: #09AFEE;  /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #09AFEE, #32D3B7); /* Standard syntax (must be last) */
}

#grad2{
   background-color:  #FBF6F6;
}

.features{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}

.extract{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#tcolor{
    color: #2FD5BB;
}

.dbcolor{
    color: #757575;
}
.steps{
    background-color: white;
    height: 75%;
    min-width: 120%;
    border-radius: 10px;
    text-align: center;
}
.stepcard{
    display: flex;
    justify-content: space-around;
}
.arrow{
    width: 30px;
    height: 30px;
    margin-left: 60%;
    margin-top: 125%;
}
.fdetail{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0px;
}


.line{
    transform: rotate(-3deg);
    height: 100%;
    width: 130%;
    margin-top: -200px;
    margin-left: -30px;  
}

.cardtittle{
    color: #757575; 
    text-align: center;
    /* font-weight: regular; */
    padding-top: 3%;
    font-size: x-large;
}
::placeholder {
    color: #AAAAAA; 
    opacity: 1; 
}
.labelspace {
    display: inline-block;
    margin-bottom: 0rem;
    color: #2FD5BB;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #FBF6F6;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #09AFEE;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    border-top: none;
  }
  .selectbtn{
    width: 5rem;
    height: 12%;

  }